h1.subtitle { font-size: 2.0em; }
#performance-improvements-in-likeltd-1 img {
	max-width: 400px;
}

.reveal section#robustness img {
	background-color: rgb(143, 153, 62);
}


article img {
  width: 80%
}

img[src*="/assets/twitter.png"], img[src*="/assets/rss.png"], img[src*="/assets/email.png"] {
	max-width: 50px;
	vertical-align: middle;
}

img[src*="/assets/twitter.png"] {
  background-color: blue;
}

img[src*="/assets/governance.png"] {
  background-color: black;
}

img[src*="/assets/zacrosESCE/archer_intelO3_threds_scaling.png"],
img[src*="/assets/zacrosESCE/archer_intelO3_lattice_event_scaling.png"],
img[src*="/assets/zacrosESCE/archer_intelO3_lattice_scaling.png"] {
    max-width: 60%;
}

.reveal section#automated-deployment img {
	max-width: 100px;
	vertical-align: middle;
	background-color: rgb(143, 153, 62);
}

#slidelink {
  float: right
}

.reveal ul {
    margin: 0 1em 0 2em;
}